@import "tailwindcss";

@font-face {
  font-family: "CenturyGothic";
  src: url("/fonts/CenturyGothic/centurygothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .font-oscars {
    font-family: "CenturyGothic", sans-serif;
  }
}