@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "CenturyGothicRegular";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CenturyGothicThin";
  src: url("/fonts/CenturyGothic/CenturyGothicPaneuropeanLight.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
  font-display: swap;
}

@layer components {
  .font-oscars-regular {
    font-family: "CenturyGothicRegular", sans-serif;
  }

  .font-oscars-thin {
    font-family: "CenturyGothicThin", sans-serif;
  }
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

:root {
  background: oklch(21% 0.006 285.885);
}